body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}


.app {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    width: 80%;
    height: 30px;
    padding: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: grab;
}


.top-bar:active {
    cursor: grabbing;
}


.buttons {
    display: flex;
    align-items: center;
}

.buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.close {
    background-color: #ff5f56;
}

.minimize {
    background-color: #ffbd2e;
}

.zoom {
    background-color: #27c93f;
}

.reset {
    margin-left: auto;
    padding-right: 6px;
    margin-top: 6px;
    cursor: pointer;
}

.title {
    color: #bbb;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.terminal {
    background-color: #000000;
    width: 80%;
    height: 370px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.output {
    white-space: pre-wrap;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
}

.input {
    background: none;
    border: none;
    color: #ffffff;
    flex-grow: 1;
    outline: none;
}



@media screen and (max-width: 600px) {
    .app {
        width: 100%;
        height: 100%;
        max-width: 100%;
        left: 0;
        top: 0;
        border-radius: 0;
    }

    .top-bar {
        width: 98%;
    }

    .terminal {
        width: 98%;
        height: 98%;
    }

    .input-line {
        padding: 10px;
    }

    

}